# Ignoruj pliki lokalnego środowiska (zawierające hasła)
.env

# Ignoruj rdzeń WordPressa
/html/wp-admin/
/html/wp-includes/
/html/*.php
/html/*.txt
/html/*.html
/html/.htaccess

# Ignoruj domyślne motywy WordPressa
/html/wp-content/themes/twentytwentythree/
/html/wp-content/themes/twentytwentyfour/
/html/wp-content/themes/twentytwentyfive/
/html/wp-content/themes/index.php

# Ignoruj domyślne wtyczki, media i pliki tymczasowe
/html/wp-content/plugins/hello.php
/html/wp-content/plugins/akismet/
/html/wp-content/uploads/
/html/wp-content/upgrade/
/html/wp-content/cache/

# Systemowe pliki tymczasowe
.DS_Store
Thumbs.db
